{% load staticfiles %}
<!DOCTYPE html>
<header lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/workshop.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
tday=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
tmonth=["January","February","March","April","May","June","July","August","September","October","November","December"];

function GetClock(){
var d=new Date();
var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
var nhour=d.getHours(),nmin=d.getMinutes(),nsec=d.getSeconds(),ap;

if(nhour==0){ap=" AM";nhour=12;}
else if(nhour<12){ap=" AM";}
else if(nhour==12){ap=" PM";}
else if(nhour>12){ap=" PM";nhour-=12;}

if(nmin<=9) nmin="0"+nmin;
if(nsec<=9) nsec="0"+nsec;

document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+":"+nsec+ap+"";
}

window.onload=function(){
GetClock();
setInterval(GetClock,1000);
}
</script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script>
        window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
    </script>
<script type='text/javascript' src='fullcalendar/gcal.js'></script>
    <script type='text/javascript'>

$(document).ready(function() {
    $('#calendar').fullCalendar({
        googleCalendarApiKey: 'AIzaSyCTdMBew_R-8RgRtDQWvw-oXbWoKXaYhZ0',
        events: {
            googleCalendarId: 'maximugisha@gmail.com'
        }
    });
});

</script>
</head>
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <a href="/attendants">Participants</a>
        <a href="{% url 'new_participant' %}">Register For A Work Shop &nbsp; <span class="glyphicon glyphicon-plus"></span></a>
        <div class="search-container">
        <form action="{% url 'search' %}">
            <input type="text" placeholder="Search Workshop ..." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>

        </div>
    </div>
</header>

<body>
    <div>
        <h1><a href="/home">WorkShop.ic</a></h1>
    </div>
    <div class="btn-primary"> <a href="{% url 'new_participant' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></div>
    <div>
        <iframe src="https://calendar.google.com/calendar/embed?src=maximugisha%40gmail.com&ctz=Africa%2FNairobi" style="border: 0" width="400" height="400" frameborder="3" scrolling="no" align="right"></iframe>
    </div>
        <!-- to make an area that will have HTML inserted in it. That HTML will come from another template that extends this template-->
        {% block content %}

        {% endblock %}
    </div>

</body>
<footer class="panel-footer">
    <h4>The Workshops Hub &copy; - YCC</h4>
    <div id="clockbox"></div>
</footer>
</html>